#v-pills-home-tab {
  background-color: rgb(41, 41, 41);
  width: 200px;
}

#exampleFormControlInput1 {
  width: 1000px;
}

#exampleFormControlTextarea1 {
  resize: none;
}

#add-button {
  width: 150px;
}
