<div class="d-flex align-items-start m-3">
  <div
    class="nav flex-column nav-pills me-3"
    id="v-pills-tab"
    role="tablist"
    aria-orientation="vertical"
  >
    <button
      class="nav-link active"
      id="v-pills-home-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-home"
      type="button"
      role="tab"
      aria-controls="v-pills-home"
      aria-selected="true"
    >
      Blogs
    </button>
  </div>
  <div class="tab-content" id="v-pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="v-pills-home"
      role="tabpanel"
      aria-labelledby="v-pills-home-tab"
      tabindex="0"
    >
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Title here..."
          [(ngModel)]="blogTitle"
        />
      </div>
      <div class="mb-3">
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          placeholder="Text here..."
          [(ngModel)]="blogText"
        ></textarea>
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput2"
          placeholder="Author here..."
          [(ngModel)]="blogAuthor"
        />
      </div>
      <button
        type="button"
        class="btn btn-dark"
        id="add-button"
        (click)="addBlog()"
        *ngIf="!editStatus"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="saveBlog()"
        *ngIf="editStatus"
      >
        Save edit
      </button>
    </div>
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Text</th>
          <th scope="col">Author</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let blog of adminBlogs">
        <tr>
          <th scope="row">{{ blog.id }}</th>
          <td>{{ blog.title }}</td>
          <td>{{ blog.text }}</td>
          <td>{{ blog.author }}</td>
          <td>
            <button type="button" class="btn btn-dark" (click)="editBlog(blog)">
              Edit
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-dark"
              (click)="deleteBlog(blog)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
